@(list: List[_root_.schools.School])

@main(title = "Elenco delle scuole") {

    <article>
        <section>
            <table class="table table-striped">
                <tbody>
                @for(s <- list) {
                    <tr>
                        <td><a target="info" href="@s.link">@s.code - @s.name</a></td>
                        <td><a target="map" href="@s.map">@s.address</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </section>
    </article>

}